body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%); 
  overflow: hidden;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 300px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: hsl(0, 0%, 100%); 
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.973);
  overflow: hidden;
}

.card-image{
  padding: 20px;
  padding-bottom: 0;
}

.card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-tag {
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 0%); 
  font-weight: 800;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0px;
}

.card-date {
  font-size: 12px;
  color: hsl(0, 0%, 42%);
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: 800;
  color: hsl(0, 0%, 7%); 
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.card-title:hover{
  color: hsl(47, 88%, 63%);
}

.card-description {
  font-size: 16px;
  color: hsl(0, 0%, 42%); 
  margin-bottom: 20px;
}

.card-author {
  display: flex;
  align-items: center;
}

.card-author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-author span {
  font-size: 14px;
  color: hsl(0, 0%, 7%); 
}





.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
